.todoList {
    -moz-box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.22);
    background-color: #ffc;
    box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.22);
    display: inline-block;
    margin: 1em;
    min-height: 280px;
    padding-top: 8px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 280px;
}

.todoList:before {
    border-color: #f6f6c7 #fff;
    border-style: solid;
    border-width: 0 0 24px 24px;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
}

.todoList header { z-index: auto; }

.todoList header input, .todoList header input:focus,
.todoList ul input, .todoList ul input:focus, .addTodo {
    font-family: 'Bradley Hand ITC';
    outline: none;
}

.todoList header input {
    background: none;
    border: none;
    font-size: 1.8em;
    text-align: center;
    width: 95%;
}

.todoList ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 12px;
}

.addTodo {
    color: #999;
    display: block;
    margin-left: 25px;
    padding: 0;
}

.todoList input[type=text], .addTodo {
    background: none;
    border: none;
    width: 200px;
}

.todoList input[disabled] {
    color: #666;
    text-decoration: line-through;
}

.todoList a {
    color: silver;
    font: .8em verdana;
    text-decoration: none;
}

.todoList a.deletelist {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background: silver;
    border-radius: 20px;
    color: white;
    display: inline-block;
    font-weight: bold;
    height: 20px;
    position: absolute;
    right: -10px;
    text-decoration: none;
    top: -5px;
    width: 20px;
}

.todoItemInput::-ms-clear { display: none; }