<?xml version="1.0" encoding="utf-8" ?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <section name="emailConfiguration"
        type="Tools.Notification.EmailConfigurationSection, Tools"
        allowLocation="true"
        allowDefinition="Everywhere"/>
  </configSections>

  <emailConfiguration attachmentFileName="attachment_file_name.pdf"/>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="export@bindexis.com">
        <network defaultCredentials="false"
          host="localhost"
          port="25"
          userName="bindexis"
          password="Welcome!"
          enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>