<div>
    <h2>Export projects</h2>
</div>
<div>
    <label for="email">@Html.KnockoutHelperFor("Email", "p")</label>
    <input data-bind="value: $root.Email" type="text" title="Email" name="email" />
</div>
<div>
    <label for="type">@Html.KnockoutHelperFor("Type", "p")</label>
    <select data-bind="options: $root.ExportModels,
    optionsText: 'name',
    value: 'value'"
        name="type">
    </select>
</div>


<div class="well-lg">
    <span data-bind="text: String.format('You have selected {0} projects(added from {1} to {2})', $root.Projects().length, $root.DateFrom(), $root.DateTo())"></span>
    
</div>