<div class="well-lg">
    <label for="email">@Html.KnockoutHelperFor("ExportTab_ProjectsNumberAndRange", "p", "", "$root.Projects().length", " $root.DateFrom()", "$root.DateTo()")</label>
</div>

<div>
    <label for="email">@Html.KnockoutHelperFor("Email", "p")</label>
    <input data-bind="value: $root.Email" type="text" title="Email" name="email" />
</div>
<div>
    <label for="type">@Html.KnockoutHelperFor("Type", "p")</label>
    <select data-bind="options: $root.ExportModels,
    optionsText: 'name',
    value: 'value'"
        name="type">
    </select>
</div>


