@using TP1.Helpers
<div class="well-lg">
    @Html.KnockoutHelperFor("ExportTab_ProjectsNumberAndRange", "h2", "", "$root.Grid().totalRows()", " $root.DateFrom()", "$root.DateTo()")
</div>

<table class="table table-hover table-striped table-bordered table-condensed">

    <tr>
        <td class="col-md-3">
            <label for="emails">@Html.KnockoutHelperFor("Email", "p")</label></td>
        <td class="col-md-9">
            <textarea data-bind="value: $root.Emails" title="Emails" name="emails" class="form-control"></textarea></td>
    </tr>
    <tr>
        <td>
            <label for="type">@Html.KnockoutHelperFor("Type", "p")</label></td>
        <td>
            <select class=" form-control" data-bind="options: $root.ExportModels,
    optionsText: 'name',
    value: $root.ExportModel"
                name="type">
            </select></td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="button" class="btn btn-primary col-md-2  col-md-offset-3 disabled" data-bind="click: $root.saveAs">Save As</button>
            <button type="button" class="btn btn-primary col-md-2" data-bind="click: $root.export">Export</button>
            <button type="button" class="btn btn-primary col-md-2" data-bind="click: $root.viewProjects">Cancel</button></td>
    </tr>
</table>
