<ul class="nav nav-pills nav-justified" role="tablist">
    <li data-bind="css: { active: $root.displayGrid }"><a href="#" data-bind="click: $root.viewProjects, text: langModule().language().ProjectsView"></a></li>
    <li data-bind="visible: (!readOnlyMode() && isAddAction()), css: { active: $root.displayForm }"><a href="#" data-bind="click: $root.add, text: langModule().language().AddTab"></a></li>
    <li data-bind="visible: (!readOnlyMode() && !isAddAction()), css: { active: $root.displayForm }"><a href="#" data-bind="text: langModule().language().EditTab"></a></li>
    <li data-bind="visible: readOnlyMode(), css: { active: $root.displayForm }"><a href="#" data-bind="    text: langModule().language().ViewTab"></a></li>
    <li data-bind="css: { active: $root.displayExport }"><a href="#" data-bind="click: $root.tryExport, text: langModule().language().ExportProjects"></a></li>
</ul>

<div class="container">
    <div data-bind="visible: displayGrid">
        @Html.Partial("~/Views/Report/_ProjectsGrid.cshtml")
    </div>
    <div data-bind="visible: displayForm">
        @Html.Partial("~/Views/Report/_EditProjectForm.cshtml")
    </div>
    <div data-bind="visible: displayExport">
        @Html.Partial("~/Views/Report/_ExportProjects.cshtml")
    </div>
</div>
