<div class="well-lg">
    @Html.KnockoutHelperFor("ProjectsView_SelectRangeText", "p")
    <table>
        <tr>
            <td>@Html.KnockoutHelperFor("From", "span")</td>
            <td><input id="dateFrom" type="text" data-bind="datepicker: {}, value: $root.DateFrom" /></td>
        </tr>
        <tr>
            <td>@Html.KnockoutHelperFor("To", "span")</td>
            <td><input id="dateTo" type="text" data-bind="datepicker: {}, value: $root.DateTo" /></td>
        </tr>
    </table>
</div>
@Html.Partial("~/Views/Report/_Grid.cshtml")