@using TP1.Helpers
<div class="well-lg">
    @Html.KnockoutHelperFor("ProjectsView_SelectRangeText", "p")
    <table>
        <tr>
            <td>@Html.KnockoutHelperFor("From", "span")</td>
            <td>
                <div class='input-group'>
                    <input type='text' id='dateFrom' class="form-control" data-bind="datepicker: {}, value: $root.DateFrom" />
                    <span class="input-group-addon" id="btn"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <td>@Html.KnockoutHelperFor("To", "span")</td>
            <td>
                <div class='input-group'>
                    <input type='text' id='dateTo' class="form-control" data-bind="datepicker: {}, value: $root.DateTo" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </td>
        </tr>
    </table>
</div>
@Html.Partial("~/Views/Report/_Grid.cshtml")