<?xml version="1.0"?>

<configuration>
  <configSections>
    <section
        name="emailConfiguration"
        type="Tools.Notification.EmailConfigurationSection, Tools"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>

  <emailConfiguration attachmentFileName="attachment_file_name.pdf"/>

  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-TP1-20140806140908;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-TP1-20140806140908.mdf" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=10.10.1.17\MSSQL2012EE; Initial Catalog=HD_TestDB; User ID=hd; Password=hdWelcome!; Trusted_Connection=false;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection"
         connectionString="Data Source=AZELINSKYY-LPNE\SQLEXPRESS; Initial Catalog=HD_TestDB; Trusted_Connection=true;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="export@bindexis.com">
        <specifiedPickupDirectory
          pickupDirectoryLocation=""
        />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>